*{
    margin:0 auto;
    padding:0;
    list-style:none;
}
body{
    background:#FFF9ED;
    font:14px 'Microsoft YaHei';
}
a:link,a:visited{
    text-decoration:none;
    color:#FFF;
    font:16px;
}
div#header{
    width:100px;
    height:128px;
    background:url(../images/head_bg.jpg) repeat-x;
    border-bottom:3px solid #D5D5D5;
}