/* 定义全局 */
*{
    margin:0 auto;
    padding:0;
}

/* 定义主体 */
body{
    background:#EDEDED;
    font-family:'楷体';
    font-size:16px;
    color:#A5A5A5;
}

/* 定义头部 */
div#header{
    width:980px;
    height:86px;
    margin:0 auto 7px;
    line-height:86px;
    text-align:center;
    font-family:'微软雅黑';
}

/* 定义头部标题 */
div#header h1{font-weight:normal;}

/* 定义头部大标题 */
div#header strong{
    font-weight:normal;
    font-size:30px;
}

/* 设定分类块大小 */
div#sort{width:980px;}

/* 定义分类字体 */
div#sort h2{
    font-size:14px;
    font-family:'微软雅黑';
    color:#A5A5A5;
    height:42px;
    line-height:42px;
}

/* 定义段落 */
div#sort p{
    text-align:center;
    line-height:30px;
    font-size:18px;
}

/* 设置热卖块大小 */
div#hotsell{width:602px;}

/* 定义第二段文字 */
p#txt{
    line-height:30px;
    text-indent:2em;
}

/* 定义第二段文字中的部分文字 */
p#txt font{
    font-style:normal;
    text-decoration:underline;
}

/* 定义网页信息 */
div#infomation{
    width:602px;
    margin:0 auto;
    font-family:'微软雅黑';
    text-align:center;
    font-size:16px;
    font-weight:bold;
}

/* 定义店主部分 */
div#administor{
    width:602px;
    margin:0 auto;
}

/* 设置店主名称和介绍首行缩进2格 */
div#administor h3,div#administor p{text-indent:2em;}

/* 定义店主名称文字 */
div#administor h3{
    height:30px;
    line-height:30px;
    font-weight:normal;
    font-family:'微软雅黑';
    font-size:18px;
}

/* 定义店主介绍文字 */
div#administor p{
    font-size:14px;
    line-height:26px;
    font-style:italic;
}