/* 定义全局 */
*{
    margin:0 auto;
    padding:0;
}

/* 定义主体字体和背景颜色 */
body{
    font-family:'Microsoft YaHei';
    background:#FDFDFD;
}

/* 定义头部框架 */
div#header{
    background:url(../images/bg.jpg) no-repeat;
    width:980px;
    height:617px;
    padding-top:10px;
}

/* 定义导航文字 */
div#navigation{
    background:url(../images/nav.png) no-repeat;
    width:848px;
    height:46px;
    padding:40px 0 0 123px;
}
ul li{
    color:#685649;
    font-size:16px;
    padding:0 30px;
    float:left;
    list-style:none;
}
li#li2{
    margin-right:240px;
    float:left;
    list-style:none;
}

/* 定义最新动态内容 */
div#news{
    width:980px;
    height:300px;
    background:url(../images/dongtai.jpg) 60px top no-repeat;
    margin:18px auto;
    padding-top:120px;
}

/* 定义方块内容 */
div#nc{
    width:294px;
    height:256px;
    float:left;
    margin-left:29px;
}
h2#first{
    width:284px;
    height:50px;
    padding-left:10px;
    line-height:50px;
    font-weight:bold;
    font-size:16px;
    border-bottom:1px solid #DDD;
}
p#second{
    width:284;
    height:70px;
    line-height:20px;
    padding:10px 0 0 10px;
    font-size:12px;
    color:#BBB
}
p#shadow{
    width:294px;
    height:5px;
    background:#999;
}

/* 定义欣赏图片 */
div#active{
    width:980px;
    height:292px;
    background:url(../images/xinshang.jpg) no-repeat;
    padding-top:170px;
}
div#picture{
    width:916px;
    height:260px;
}
div#picture img{margin-left:56px;}

/* 定义页脚部分 */
div#footer{
    width:100%;
    height:80px;
    line-height:80px;
    color:#FFF;
    text-align:center;
    background:url(../images/footer_bg.jpg) repeat-x;
}

/* 设置悬浮二维码 */
div#tree{
    position:fixed;
    right:5%;
    bottom:5%;
}

/* 设置超链接颜色及样式 */
a:link{
    color:#685649;
    text-decoration:none;
}
a:visited{
    color:#685649;
    text-decoration:none;
}
a:hover{
    color:#685649;
    text-decoration:none;
}
a:active{
    color:#685649;
    text-decoration:none;
}