*{
    margin:0 auto;
    padding:0;
    border:0;
    background:none;
}
body{
    font-family:'微软雅黑';
    background:#FDFDFD;
}
div#header{
    background:url(../images/bg.jpg) no-repeat;
    width:980px;
    height:617px;
    margin-top:10px;
}
div#navigation{
    background:url(../images/nav.png) no-repeat;
    width:848px;
    height:46px;
    padding:40px 0 0 123px;
}
span{
    color:#685649;
    font-size:16px;
    padding:0 30px;
}
span#margin{margin-right:240px;}